h1 {
    color: darkblue;
    font-family: Georgia;
    text-shadow: 2px 2px 2px grey;
    font size :200%

}

h2{
    color: dodgerblue;
    font-family: comic;
    font-size: 150%

}
h3{
    color: blue;
    font-family: Arial;
    font-size: 150%
}
h5{
    text-align: right;
}